h1 {
  padding-top: 100px;
  text-align: center;
}
.links {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 100px;
  .link {
    cursor: pointer;
    position: relative;
    &:hover {
      color: #ff6900;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #ff6900;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
    }
    &:hover:after {
      width: 100%;
    }
  }
}
