.hero {
  background-image: url(../../../public/images/hero.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
}
.sss {
  padding-top: 60px;
}
.all {
  padding-top: 200px;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    font-size: 24px;
    font-weight: 700;
  }
  button {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    min-height: border-box;
    padding: 2px 12px;
    background-color: black;
    color: white !important;
    border-radius: 8px;
    max-width: 105px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black !important;
    }
  }
}
